* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px auto;
    width: 1000px;
}

.info {
    background: #7aa300;
    padding-bottom: 2em;
    padding-top: 2em;
}

.info h1,
.info p {
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

img.photo {
    display: inline-block;
    width: 200px;
}
.three {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.central-image img {
    width: 300px;
}

.check {
    background: url(./img/check.png) no-repeat;
}

.check p {
    line-height: 30px;
    padding-left: 30px;
}

.specialists {
    background: #dcdcdc;
    padding-bottom: 2em;
    padding-top: 2em;
}

.specialists .container h2 {
    color: #447c11;
    font-size: 32px;
    font-weight: 700;
}

.form {
    background: #202020;
    margin-left: 4em;
    padding: 15px;
    width: 25%;
}

.form h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 40px;
}

.cell {
    display: table-cell;
}

.characteristics h5 {
    font-size: 15px;
    padding: 1em;
}

.characteristics p {
    line-height: 26px;
    padding: 1em;
    text-align: justify;
}

.characteristics img {
    height: 54px;
    vertical-align: middle;
    width: 64px;
}

.kits {
    background: #7aa300;
    padding-bottom: 1em;
}

.kits h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    padding: 1em 0;
    text-align: center;
}

.one-four {
    display: inline-block;
    width: 24%;
}

.testimonials .container {
    margin-bottom: 2em;
}
.testimonials .container h4 {
    color: #447c11;
    font-size: 32px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.testimonials .container .cell {
    background-image: url(./img/quotation-marks.svg);
    background-repeat: no-repeat;
    padding-left: 85px;
}

.map {
    margin-bottom: 2rem;
}

.map .column {
    display: table-cell;
    vertical-align: middle;
}

form input,
form textarea {
    border-radius: 5px;
    display: block;
    height: 25px;
    margin: 5px auto;
    width: 70%;
}

form textarea {
    height: 40px;
}

input[type="submit"] {
    background: #fb7104;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    width: 60%;
}

ul {
    list-style: none;
    position: absolute;
    right: 200px;
    top: 60px;
}

ul li {
    display: inline;
    margin: 0px 20px;
}

ul li a {
    color: #83b633;
    text-decoration: none;
}

footer {
    background: #7aa300;
    text-align: center;
}

footer p {
    padding:15px 0;
}
